
// Cards
$card-spacer-x:            1.25rem !default;
$card-spacer-y:            .75rem !default;
$card-border-width:        1px !default;
$card-border-radius:       0 !default;
$card-border-color:        #e5e5e5 !default;
$card-border-radius-inner: 0 !default;
$card-cap-bg:              $cool-gray !default;
$card-bg:                  #fff !default;

$card-link-hover-color:    #fff !default;
$enable-hover-media-query: false;
$enable-flex:              true !default;
$enable-rounded:           false;
@mixin card-outline-variant($color) {
      background-color: transparent;
        border-color: $color;
    }

// Card variants

@mixin card-variant($background, $border) {
  background-color: $background;
  border-color: $border;
}

@mixin card-outline-variant($color) {
  background-color: transparent;
  border-color: $color;
}

@mixin hover {
  @if $enable-hover-media-query {
    // See Media Queries Level 4: http://drafts.csswg.org/mediaqueries/#hover
    // Currently shimmed by https://github.com/twbs/mq4-hover-shim
    @media (hover: hover) {
      &:hover { @content }
    }
  }
  @else {
    &:hover { @content }
  }
}

@mixin hover-focus {
  @if $enable-hover-media-query {
    &:focus { @content }
    @include hover { @content }
  }
  @else {
    &:focus,
    &:hover {
      @content
    }
  }
}

@mixin plain-hover-focus {
  @if $enable-hover-media-query {
    &,
    &:focus {
      @content
    }
    @include hover { @content }
  }
  @else {
    &,
    &:focus,
    &:hover {
      @content
    }
  }
}

@mixin hover-focus-active {
  @if $enable-hover-media-query {
    &:focus,
    &:active {
      @content
    }
    @include hover { @content }
  }
  @else {
    &:focus,
    &:active,
    &:hover {
      @content
    }
  }
}


//
// Inverse text within a card for use with dark backgrounds
//

@mixin card-inverse {
  .card-header,
  .card-footer {
    border-bottom: $card-border-width solid rgba(255,255,255,.2);
  }
  .card-header,
  .card-footer,
  .card-title,
  .card-blockquote {
    color: #fff;
  }
  .card-link,
  .card-text,
  .card-blockquote > footer {
    color: rgba(255,255,255,.65);
  }
  .card-link {
    @include hover-focus {
      color: $card-link-hover-color;
    }
  }
}

//
// Base styles
//

.card {
  position: relative;
  display: block;
  margin-bottom: $card-spacer-y;
  background-color: $card-bg;
  border: $card-border-width solid $card-border-color;
}

.card-block {
  padding: $card-spacer-x;
}

.card-block > :first-child {
  margin-top: 0;
}

.card-block > :last-child {
  margin-bottom: 0;
}

.card-title {
  margin-bottom: $card-spacer-y;
  font-weight: $headings-font-weight-medium;
}

.card-subtitle {
  margin-top: -($card-spacer-y / 2);
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

a.card {
  font-weight: normal;
  color: $ash;
  &:focus,&:hover {
      text-decoration: none;
  }
  .card-link {
   font-weight:bold;
   color:$red30b;
  }
}

.card-landing-grid {
    cursor: pointer;
    border-right: $sky 1px solid;
    border-bottom: $sky 1px solid;
    border-top-color:transparent;
    border-left-color:transparent;
    padding: 2.5rem;
    &:focus, &:hover {
      transition: .3s;
      background-color: $cool-gray;
    }
}
// avoid override caused by quickstart external link classes
html.external-links a.card-landing-grid.remove-external-link-icon[target=_blank] {
  padding-right: 2.5rem;
}
// avoid overlapping headings on card decks
@media (max-width: 992px) and (min-width: 695px) {
    .card-landing-grid .h3 {
      font-size: 23px;
    }
}
.card-borderless {
  border-color: transparent;
  border-width: 0px;
  & a {
    cursor: pointer;
  }
  &:focus .card-link,
  &:hover .card-link {
    transition: .3s;
    text-decoration: underline;
  }
  .psuedo-link,
  .pseudo-link {
      color: $link-color;
  }
  .card-text {
    opacity:0.9;
    letter-spacing:-0.17px;
    line-height:20px;
  }
  & img + h2 {
    margin: 1rem 0 .1rem;
  }
  .card-link {
    font-size: 87%;
    margin-top: 5px;
  }
  .card-text {
    margin: 0;
  }
}

@include media-breakpoint-up(shm) {
  .card-borderless {
    & img + h2 {
      margin: 1rem 0 .3rem;
    }
    .card-link {
      font-size: 1rem;
      margin-top: .1rem;
    }
  }
}

// .card-actions {
//   padding: $card-spacer-y $card-spacer-x;

//   .card-link + .card-link {
//     margin-left: $card-spacer-x;
//   }
// }

.card-link {
  @include hover {
    /*text-decoration: none;*/
  }

  + .card-link {
    margin-left: $card-spacer-x;
  }
}



//
// Optional textual caps
//

.card-header {
  padding: $card-spacer-y $card-spacer-x;
  background-color: $card-cap-bg;
  border-bottom: $card-border-width solid $card-border-color;

  &:first-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.card-footer {
  padding: $card-spacer-y $card-spacer-x;
  background-color: $card-cap-bg;
  border-top: $card-border-width solid $card-border-color;

  &:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
}


//
// Background variations
//

.card-primary {
  @include card-variant($brand-primary, $brand-primary);
}
.card-success {
  @include card-variant($brand-success, $brand-success);
}
.card-info {
  @include card-variant($brand-info, $brand-info);
}
.card-warning {
  @include card-variant($brand-warning, $brand-warning);
}
.card-danger {
  @include card-variant($brand-danger, $brand-danger);
}

// Remove all backgrounds
.card-primary-outline {
  @include card-outline-variant($btn-primary-bg);
}
.card-info-outline {
  @include card-outline-variant($btn-info-bg);
}
.card-success-outline {
  @include card-outline-variant($btn-success-bg);
}
.card-warning-outline {
  @include card-outline-variant($btn-warning-bg);
}
.card-danger-outline {
  @include card-outline-variant($btn-danger-bg);
}


//
// Inverse text within a card for use with dark backgrounds
//

.card-inverse {
  @include card-inverse;
}

//
// Blockquote
//

.card-blockquote {
  padding: 0;
  margin-bottom: 0;
  border-left: 0;
}

// Card image
.card-img {
  width:100%;
  height:auto;
  // margin: -1.325rem;
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

// Image with caption

.card-img-caption {
  position: absolute;
  background: rgba(51, 51, 51, .6);
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5rem 1rem;
}

.card-inverse a {
  color: #fff;
}

// Card image caps
.card-img-top {
}
.card-img-bottom {
}


//
// Card deck
//

@if $enable-flex {
  @include media-breakpoint-up(sm) {
    .card-deck {
      display: flex;
      flex-flow: row wrap;
      margin-right: -.625rem;
      margin-left: -.625rem;

      .card {
        flex: 1 0 0;
        margin-right: .625rem;
        margin-left: .625rem;
      }
    }
  }
} @else {
  @include media-breakpoint-up(shm) {
    .card-deck {
      display: table;
      table-layout: fixed;
      border-spacing: 0.938em 0;
      vertical-align: top;
      min-width: 1%;
      width: 100%;
      height: 1%;

      .card {
        display: table-cell;
        width: 33%;
        vertical-align: top;
        min-width: 1%;
      }
      &.card-deck-borderless {
        border-spacing: 3em 0;
      }
    }
    .card-deck-wrapper {
      margin-right: -1.25rem;
      margin-left: -1.25rem;
    }
  }
  @include media-breakpoint-up(md) {
    .card-deck.card-deck-borderless {
        border-spacing: 3.750rem 0;
    }
  }
}

//
// Card groups
//

@include media-breakpoint-up(sm) {
  .card-group {
    @if $enable-flex {
      display: flex;
      flex-flow: row wrap;
    } @else {
      display: table;
      width: 100%;
      table-layout: fixed;
      height:1%;
    }

    .card {
      @if $enable-flex {
        flex: 1 0 0;
      } @else {
        display: table-cell;
        vertical-align: top;
        height:inherit;
      }

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded {
        &:first-child {

          .card-img-top {
            border-top-right-radius: 0;
          }
          .card-img-bottom {
            border-bottom-right-radius: 0;
          }
        }
        &:last-child {
          @include border-left-radius(0);

          .card-img-top {
            border-top-left-radius: 0;
          }
          .card-img-bottom {
            border-bottom-left-radius: 0;
          }
        }

        &:not(:first-child):not(:last-child) {
          border-radius: 0;

          .card-img-top,
          .card-img-bottom {
            border-radius: 0;
          }
        }
      }
    }
  }
}

//
// Card
//

@include media-breakpoint-up(sm) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let them exceed the column width
    }
  }
}
