$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


//== Colors

/* ==========================================================================
 *    Primary UA Red and Arizona Blue
 * ========================================================================== */
$red :    ua-color('red', 'default') !default;
$blue:    ua-color('blue', 'default') !default;

/* ==========================================================================
 *    Complimentary highlight and shadow accent colors for UA Red
 * ========================================================================== */
$bloom: ua-color('red','bloom');
$chili: ua-color('red','chili');

/* ==========================================================================
 *    Complimentary highlight and shadow accent colors for Arizona Blue
 * ========================================================================== */
$sky: ua-color('sky','default');
$oasis: ua-color('blue','oasis');
$azurite: ua-color('blue','azurite');
$midnight: ua-color('blue','midnight');

/* ==========================================================================
 *    Secondary palette v2
 * ========================================================================== */

$leaf:  ua-color('leaf');
$river: ua-color('river');
$silver: ua-color('silver');
$mesa: ua-color('mesa');

/* ==========================================================================
 *    Neutral palette
 * ========================================================================== */
$cool-gray: ua-color('gray','cool');
$warm-gray: ua-color('gray','warm');
//silver-dark to be used for text only.
$silver-dark: ua-color('silver','dark');
$white: #ffffff;

/* ==========================================================================
 *    Legacy palette
 * ========================================================================== */
$ash: ua-color('ash');
$sage: ua-color('sage');
$silver: ua-color('silver');
$copper: ua-color('mesa','copper');

/* ==========================================================================
 *    Deprecated ua red and blue color variants
 * ========================================================================== */
$red30w:  ua-color('red','30w');
$red60w:  ua-color('red','60w');
$red60b:  ua-color('red','60b');
$red30b:  ua-color('red','30b');
$blue30w: ua-color('blue','30w');
$blue60w: ua-color('blue','60w');
$blue60b: ua-color('blue', '60b');
$blue30b: ua-color('blue', '30b');

/* ==========================================================================
 *    Deprecated secondary palette
 * ========================================================================== */
$cactus:  ua-color('cactus');
$cactus-light: ua-color('cactus','light');
$sky-light: ua-color('sky','light');
$river-light: ua-color('river','light');
$sand: ua-color('sand');
$sand-light: ua-color('sand','light');
$mesa-light: ua-color('mesa','light');
$brick: ua-color('brick');
$brick-light: ua-color('brick','light');
$silver-tint: ua-color('silver','tint');
$ash-tint: ua-color('ash','tint');

/* ==========================================================================
 *    Bootstrap brand color variables
 * ========================================================================== */
$brand-default:         $red !default;
$brand-primary:         $blue;
$brand-success:         $leaf !default;
$brand-info:            $sky !default;
$brand-warning:         $sand !default;
$brand-danger:          $mesa !default;

/* ==========================================================================
 *    Bootstrap gray variables
 * ========================================================================== */
$gray-base:              $ash !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             #495057 !default; // updated to match `text-muted` in arizona bootstrap to meet accessibility requirements
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $white !default;
//** Global text color on `<body>`.
$text-color:             $ash !default;

//** Global textual link color.
$link-color:             $chili !default;
//** Link hover color set via `darken()` function.
$link-hover-color:       $link-color !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  MiloWeb-Text, Verdana, Geneva, sans-serif;
$font-family-text:        MiloWeb, Verdana, Geneva, sans-serif;
$font-family-serif:       MiloSerifWeb, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$base_font_size:          16;
$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~20px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~13px

$font-size-h1:            floor(($font-size-base * 3)) !default; // ~48px
$font-size-h1-lg:         $font-size-h1 * 0.825 !default; // ~39.6px
$font-size-h1-sm:         $font-size-h1 * 0.781 !default; // ~37.488px
$font-size-h1-xs:         $font-size-h1 * 0.750 !default; // ~36px

$font-size-h2:            floor(($font-size-base * 2.25)) !default; // ~36px
$font-size-h2-lg:         $font-size-h2 * 0.860 !default; // ~30.96px
$font-size-h2-sm:         $font-size-h2 * 0.796 !default; // ~28.656px
$font-size-h2-xs:         $font-size-h2 * 0.767 !default; // ~27.612px

$font-size-h3:            ceil(($font-size-base * 1.5)) !default; // ~24px
$font-size-h3-xs:         $font-size-h3 * 0.783 !default; // ~18.792px

$font-size-h4:            ceil(($font-size-base * 1.125)) !default; // ~18px
$font-size-h4-xs:         $font-size-h4 * 0.95  !default; // ~17.1px

$font-size-h5:            $font-size-base !default;  // 16px

$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~14px

$font-size-lead-xs:       ceil(($font-size-h1-xs  * 0.58))  !default; // 21px;
$font-size-lead-sm:       ceil(($font-size-h1-sm  * 0.64))  !default; // 24px;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.5 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-serif !default;
$headings-font-family-medium: $font-family-text !default;
$headings-font-weight:    500 !default;
$headings-font-weight-medium: 700 !default;
$headings-line-height:    1.1 !default;
$headings-color:          $silver-dark !default;
$sans-headings-font-family:  $font-family-text !default;
$sans-headings-font-weight:    500 !default;
$sans-headings-font-weight-medium:    700 !default;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
$cochineal: $red;
$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.3333333 !default; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5 !default;

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $brand-primary !default;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               $cool-gray !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                $warm-gray !default;
$table-bg-active:               $table-bg-hover !default;


//** Border color for table and cell borders.
$table-border-color:            white !default;

//** Background color for table header.
$table-header-bg-color:         $cool-gray !default;
$table-header-color:            $silver-dark !default;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                bold !default;


$btn-river-color:                $white !default;
$btn-river-bg:                   $river !default;
$btn-river-action-color:         #054950 !default;
$btn-river-border:               $river !default;

$btn-default-color:              #fff !default;
$btn-default-bg:                 $link-color !default;
$btn-default-border:             $link-color !default;
$btn-default-action-color:       $red  !default;

$btn-hollow-default-color:              $link-color !default;
$btn-hollow-default-bg:                 transparent !default;
$btn-hollow-default-border:             $link-color !default;
$btn-hollow-default-action-color:       $red  !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             $brand-success !default;
$btn-success-action-color:       #405E1B !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $brand-primary !default;
$btn-primary-action-color:       $azurite !default;

$btn-hollow-primary-color:              $brand-primary !default;
$btn-hollow-primary-bg:                 transparent !default;
$btn-hollow-primary-border:             $brand-primary !default;
$btn-hollow-primary-action-color:       $azurite !default;

$btn-hollow-reverse-color:              white !default;
$btn-hollow-reverse-bg:                 transparent !default;
$btn-hollow-reverse-border:             white !default;
$btn-hollow-reverse-action-color:       $bloom !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             $brand-success !default;
$btn-success-action-color:       #405E1B !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                $brand-info !default;
$btn-info-action-color:          #5C939E !default;

$btn-warning-color:              #fff !default;
$btn-warning-border:             $brand-warning !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-action-color:       #a86e16 !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              $brand-danger !default;
$btn-danger-action-color:        #803B1B !default;

$btn-link-disabled-color:        $gray-light !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;


//== Forms
//
//##

//** `<input>` background color
$input-bg:                       #fff !default;
//** `<input disabled>` background color
$input-bg-disabled:              $gray-lighter !default;

//** Text color for `<input>`s
$input-color:                    $silver-dark !default;
//** `<input>` border color
$input-border:                   #cbd1e0 !default;
$input-border-color:             $input-border !default;
$input-border-width:             2px !default;

// TODO: Rename `$input-border-radius` to `$input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
$input-border-radius:            $border-radius-base !default;
//** Large `.form-control` border radius
$input-border-radius-large:      $border-radius-large !default;
//** Small `.form-control` border radius
$input-border-radius-small:      $border-radius-small !default;

//** Border color for inputs on focus
$input-border-focus:             $silver !default;

//** Placeholder text color
$input-color-placeholder:        $silver-dark !default;

//** Default `.form-control` height
$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
//** Large `.form-control` height
$input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
//** Small `.form-control` height
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;

//** `.form-group` margin
$form-group-margin-bottom:       15px !default;

$legend-color:                   $gray-dark !default;
$legend-border-color:            #e5e5e5 !default;

//** Background color for textual input addons
$input-group-addon-bg:           $gray-lighter !default;
//** Border color for textual input addons
$input-group-addon-border-color: $input-border-color !default;
//** Border width for textual input addons
$input-group-addon-border-width: $input-border-width !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                not-allowed !default;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
$dropdown-bg:                    rgba(0, 28, 72, 0.97) !default;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15) !default;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc !default;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5 !default;

//** Dropdown link text color.
$dropdown-link-color:            $cool-gray !default;
//** Hover color for dropdown links.
$dropdown-link-hover-color:      white !default;
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         $azurite !default;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     $blue !default;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        white !default;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   $gray-light !default;

//** Text color for headers within dropdown menus.
$dropdown-header-color:          $gray-light !default;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color:           #333 !default;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar:            2 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Schmedium screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         32px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;


//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             0 !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                white !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                $azurite !default;
$navbar-default-link-hover-color:          $azurite !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         $azurite !default;
$navbar-default-link-active-bg:            $cool-gray !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;


//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      lighten($gray-light, 15%) !default;
$navbar-inverse-bg:                         $blue !default;
$navbar-inverse-border:                     $blue !default;

// Inverted navbar links
$navbar-inverse-link-color:                 #fff !default;
$navbar-inverse-link-hover-color:           $white !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          #fff !default;
$navbar-inverse-link-active-bg:             $oasis !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                #fff !default;
$navbar-inverse-brand-hover-color:          $azurite !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            $azurite !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #fff !default;


//== Navs
//
//##

//=== Shared nav styles
$nav-link-padding:                          10px 15px !default;
$nav-link-hover-bg:                         $azurite !default;

$nav-disabled-link-color:                   $gray-light !default;
$nav-disabled-link-hover-color:             $gray-light !default;

//== Tabs
$nav-tabs-border-color:                     #ddd !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $body-bg !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $body-bg !default;

//== Pills
$nav-pills-border-radius:                   $border-radius-base !default;
$nav-pills-active-link-hover-bg:            $component-active-bg !default;
$nav-pills-active-link-hover-color:         $component-active-color !default;


//== Pagination
//
//##

$pagination-color:                     $azurite !default;
$pagination-bg:                        white !default;
$pagination-border:                    $oasis !default;

$pagination-hover-color:               $azurite !default;
$pagination-hover-bg:                  rgba(55,141,189,.2) !default;
$pagination-hover-border:              rgba(55,141,189,.8) !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $azurite !default;
$pagination-active-border:             $azurite !default;

$pagination-disabled-color:            #aaa !default;
$pagination-disabled-bg:               transparent !default;
$pagination-disabled-border:           $cool-gray !default;


//== Pager
//
//##

$pager-bg:                             $pagination-bg !default;
$pager-border:                         $pagination-border !default;
$pager-border-radius:                  0 !default;

$pager-hover-color:                    $pagination-hover-color !default;
$pager-hover-bg:                       $pagination-hover-bg !default;

$pager-active-bg:                      $pagination-active-bg !default;
$pager-active-color:                   $pagination-active-color !default;

$pager-disabled-color:                 $pagination-disabled-color !default;
$pager-disabled-border:                $pagination-disabled-border !default;


//== Jumbotron
//
//##

$jumbotron-padding:              30px !default;
$jumbotron-color:                inherit !default;
$jumbotron-bg:                   $gray-lighter !default;
$jumbotron-heading-color:        inherit !default;
$jumbotron-font-size:            ceil(($font-size-base * 1.5)) !default;
$jumbotron-heading-font-size:    ceil(($font-size-base * 4.5)) !default;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $ash !default;
$state-success-bg:               $brand-success !default;
$state-success-border:           $brand-success !default;

$state-info-text:                $midnight !default;
$state-info-bg:                  $brand-info !default;
$state-info-border:              $brand-info !default;

$state-warning-text:             $midnight !default;
$state-warning-bg:               $brand-warning !default;
$state-warning-border:           $brand-warning !default;

$state-danger-text:              #fff !default;
$state-danger-bg:                $brand-danger !default;
$state-danger-border:            $brand-danger !default;


//== Tooltips
//
//##

//** Tooltip max width
$tooltip-max-width:           200px !default;
//** Tooltip text color
$tooltip-color:               $white !default;
//** Tooltip background color
$tooltip-bg:                  $azurite !default;
$tooltip-opacity:             1 !default;

//** Tooltip arrow width
$tooltip-arrow-width:         5px !default;
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg !default;


//== Popovers
//
//##

//** Popover body background color
$popover-bg:                          $white !default;
//** Popover maximum width
$popover-max-width:                   276px !default;
//** Popover border color
$popover-border-color:                $azurite !default;
//** Popover fallback border color
$popover-fallback-border-color:       $azurite !default;

//** Popover title background color
$popover-title-bg:                    $azurite !default;
$popover-title-color:                 $white !default;

//** Popover arrow width
$popover-arrow-width:                 10px !default;
//** Popover arrow color
$popover-arrow-color:                 $popover-bg !default;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
//** Popover outer arrow color
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 0%) !default;


//== Labels
//
//##

//** Default label background color
$label-default-bg:            $brand-default !default;
//** Primary label background color
$label-primary-bg:            $brand-primary !default;
//** Success label background color
$label-success-bg:            $brand-success !default;
//** Info label background color
$label-info-bg:               $brand-info !default;
//** Warning label background color
$label-warning-bg:            $brand-warning !default;
//** Danger label background color
$label-danger-bg:             $brand-danger !default;
//** Muted label background color
$label-muted-bg:              $cool-gray;

//** Default label text color
$label-color:                 #fff !default;
$label-muted-color:           #49595e;
//** Default text color of a linked label
$label-link-hover-color:      #fff !default;


//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         15px !default;

//** Padding applied to the modal title
$modal-title-padding:         15px !default;
//** Modal title line-height
$modal-title-line-height:     $line-height-base !default;

//** Background color of modal content area
$modal-content-bg:                             #fff !default;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default;

//** Modal backdrop background color
$modal-backdrop-bg:           #333 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5 !default;
//** Modal header border color
$modal-header-border-color:   #e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    900px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:               15px !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;


//== Progress bars
//
//##

//** Background color of the whole progress component
$progress-bg:                 $cool-gray !default;
//** Progress bar text color
$progress-bar-color:          #fff !default;
//** Variable for setting rounded corners on progress bar.
$progress-border-radius:      $border-radius-base !default;

//** Default progress bar color
$progress-bar-bg:             $midnight !default;
//** Success progress bar color
$progress-bar-success-bg:     $brand-success !default;
//** Warning progress bar color
$progress-bar-warning-bg:     $brand-warning !default;
//** Danger progress bar color
$progress-bar-danger-bg:      $brand-danger !default;
//** Info progress bar color
$progress-bar-info-bg:        $brand-info !default;


//== List group
//
//##

//** Background color on `.list-group-item`
$list-group-bg:                 #fff !default;
//** `.list-group-item` border color
$list-group-border:             #ddd !default;
//** List group border radius
$list-group-border-radius:      $border-radius-base !default;

//** Background color of single list items on hover
$list-group-hover-bg:           $cool-gray !default;
//** Text color of active list items
$list-group-active-color:        white !default;
//** Background color of active list items
$list-group-active-bg:          $component-active-bg !default;
//** Border color of active list elements
$list-group-active-border:      $list-group-active-bg !default;
//** Text color for content within active list items
$list-group-active-text-color:  #fff !default;

//** Text color of disabled list items
$list-group-disabled-color:      $gray-light !default;
//** Background color of disabled list items
$list-group-disabled-bg:         $gray-lighter !default;
//** Text color for content within disabled list items
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:         $ash !default;
$list-group-link-hover-color:   $list-group-link-color !default;
$list-group-link-heading-color: $silver-dark !default;


//== Panels
//
//##

$panel-bg:                    #fff !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         $border-radius-base !default;

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             $cool-gray !default;

$panel-default-text:          $silver-dark !default;
$panel-default-border:        $cool-gray !default;
$panel-default-heading-bg:    $cool-gray !default;

$panel-primary-text:          #fff !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;

$panel-success-text:          $state-success-text !default;
$panel-success-border:        $state-success-border !default;
$panel-success-heading-bg:    $state-success-bg !default;

$panel-info-text:             $state-info-text !default;
$panel-info-border:           $state-info-border !default;
$panel-info-heading-bg:       $state-info-bg !default;

$panel-warning-text:          $state-warning-text !default;
$panel-warning-border:        $state-warning-border !default;
$panel-warning-heading-bg:    $state-warning-bg !default;

$panel-danger-text:           $state-danger-text !default;
$panel-danger-border:         $state-danger-border !default;
$panel-danger-heading-bg:     $state-danger-bg !default;


//== Thumbnails
//
//##

//** Padding around the thumbnail image
$thumbnail-padding:           4px !default;
//** Thumbnail background color
$thumbnail-bg:                $body-bg !default;
//** Thumbnail border color
$thumbnail-border:            #ddd !default;
//** Thumbnail border radius
$thumbnail-border-radius:     $border-radius-base !default;

//** Custom text color for thumbnail captions
$thumbnail-caption-color:     $text-color !default;
//** Padding around the thumbnail caption
$thumbnail-caption-padding:   9px !default;


//== Wells
//
//##

$well-bg:                     $cool-gray !default;
$well-border:                 darken($well-bg, 7%) !default;


//== Badges
//
//##

$badge-color:                 #fff !default;
//** Linked badge text color on hover
$badge-link-hover-color:      #fff !default;
$badge-bg:                    $gray-light !default;

//** Badge text color in active nav link
$badge-active-color:          $link-color !default;
//** Badge background color in active nav link
$badge-active-bg:             #fff !default;

$badge-font-weight:           bold !default;
$badge-line-height:           1 !default;
$badge-border-radius:         0 !default;


//== Breadcrumbs
//
//##

$breadcrumb-padding-vertical:   8px !default;
$breadcrumb-padding-horizontal: 15px !default;
//** Breadcrumb background color
$breadcrumb-bg:                 transparent !default;
//** Breadcrumb text color
$breadcrumb-color:              $azurite !default;
//** Breadcrumb text hover color (not included in vanilla bootstrap)
$breadcrumb-hover-color:        $breadcrumb-color !default;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       $gray-light !default;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          "/" !default;


//== Carousel
//
//##

$carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6) !default;

$carousel-control-color:                      #fff !default;
$carousel-control-width:                      15% !default;
$carousel-control-opacity:                    .5 !default;
$carousel-control-font-size:                  20px !default;

$carousel-indicator-active-bg:                #fff !default;
$carousel-indicator-border-color:             #fff !default;

$carousel-caption-color:                      #fff !default;


//== Close
//
//##

$close-font-weight:           bold !default;
$close-color:                 inherit !default;
$close-text-shadow:           none !default;


//== Code
//
//##

$code-color:                  $ash !default;
$code-bg:                     $cool-gray !default;

$kbd-color:                   #fff !default;
$kbd-bg:                      #333 !default;

$pre-bg:                      #f5f5f5 !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;


//== Type
//
//##

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px !default;
//** Text muted color
$text-muted:                  $gray-light !default;
//** Abbreviations and acronyms border color
$abbr-border-color:           $gray-light !default;
//** Headings small color
$headings-small-color:        $silver-dark !default;
//** Blockquote small color
$blockquote-small-color:      $gray-light !default;
//** Blockquote font size
$blockquote-font-size:        ($font-size-base * 1.25) !default;
//** Blockquote border color
$blockquote-border-color:     $blue !default;
//** Page header border color
$page-header-border-color:    $gray-lighter !default;
//** Width of horizontal description list titles
$dl-horizontal-offset:        $component-offset-horizontal !default;
//** Horizontal line color.
$hr-border:                   $river !default;


//== Spacing
//
//##

$spacers: () !default;
$spacers: map-merge((
  0: 0,
  min: .0625,
  1: .25,
  2: .5,
  3: 1,
  4: 1.5,
  5: 3,
  6: 4,
  7: 5,
  8: 6,
  9: 7,
  10: 8
), $spacers);
