// Google Tag Manager
noscript
  iframe(src='//www.googletagmanager.com/ns.html?id=GTM-ML2BZB', height='0', width='0', style='display:none;visibility:hidden')

script(src="https://code.jquery.com/jquery-2.2.4.min.js")
script(src="lib/ua-bootstrap.js")
script(src="js/specimen.js")
script(src="js/holder.min.js")
script(src="js/scripts.js")

script.
  hljs.initHighlightingOnLoad()
  $('body').scrollspy({ target: '#catstrap-sidebar' });

  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-ML2BZB');
